In [1]:
%matplotlib notebook
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import OneHotEncoder

In [2]:
# Einlesen der Excel-Datei, csv war leider nicht möglich 
data_train = pd.read_excel('./Data/train_v3_seb.xlsx')
data_train.head()

,label,imdbId,budget,genres,homepage,keywords,original_language,original_title,overview,popularity,...,production_countries,release_date,revenue,runtime,spoken_languages,tagline,title,tmdbId,imdb_Rating,imdb_user_count
0,0,1980209,25000000,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 80, ""n...",http://www.painandgainmovie.com/,"[{""id"": 416, ""name"": ""miami""}, {""id"": 11454, ""...",en,Pain & Gain,"Daniel Lugo, manager of the Sun Gym in 1990s M...",31.893932,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-04-18,86175291,130,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Their American dream is bigger than yours.,Pain & Gain,134374,6.4,182621
1,1,101507,6500000,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 18, ""name...",NaN,"[{""id"": 542, ""name"": ""street gang""}, {""id"": 57...",en,Boyz n the Hood,Boyz n the Hood is the popular and successful ...,17.705671,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1991-07-12,57504069,112,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Once upon a time in South Central L.A... It ai...,Boyz n the Hood,650,7.8,108600
2,0,1575694,6000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 53, ""nam...",NaN,[],en,The Hit List,A disgruntled man creates a hit list with a st...,4.957014,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2011-04-02,0,90,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Who's on your list?,The Hit List,58626,5.4,10947
3,0,422295,16800000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 9648, ""na...",http://www.furmovie.com/,"[{""id"": 1003, ""name"": ""photographer""}, {""id"": ...",en,Fur: An Imaginary Portrait of Diane Arbus,In 1958 New York Diane Arbus is a housewife an...,4.358255,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2006-08-30,2281089,122,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",A love story.,Fur: An Imaginary Portrait of Diane Arbus,18615,6.5,14358
4,1,1135503,40000000,"[{""id"": 10749, ""name"": ""Romance""}, {""id"": 18, ...",http://www.julieandjulia.com/,"[{""id"": 1918, ""name"": ""cooking""}, {""id"": 3096,...",en,Julie & Julia,Julia Child and Julie Powell â€“ both of whom ...,22.853006,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-08-06,129540499,123,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Based on Two True Stories,Julie & Julia,24803,7.0,93121

In [3]:
# Daten skalieren 
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
data_scaled = sc.fit_transform(data_train.loc[:,['budget','revenue','popularity','imdb_Rating']])
data_scaled.shape

C:\Users\sebas\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:617: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\sebas\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

(1976, 4)

In [4]:
# kurz in panda df transformieren 
data_scaled2 = pd.DataFrame(data_scaled)

In [5]:
# Label muss wieder drann, war unnötig vorher zu stacken 
data_final3 = pd.concat([data_scaled2, data_train[['label']]], axis = 1)

In [6]:
# schauen obs skalieren funktioniert hat 
data_final3.head()

          0         1         2         3  label
0 -0.132385 -0.047085  0.227319 -0.385063      0
1 -0.561908 -0.203556 -0.214547  0.985018      1
2 -0.573516 -0.517380 -0.611578 -1.363691      0
3 -0.322768 -0.504931 -0.630226 -0.287200      0
4  0.215876  0.189577 -0.054243  0.202115      1

In [7]:
X = data_final3.iloc[:,:-1]
y = data_final3.iloc[:,-1]

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=0)
X_train.shape

(1185, 4)

In [19]:
# 1. Versuch mit Support Vector MAchine zu klassifizieren 
from sklearn.svm import SVC
classifier_svm = SVC(gamma=0.01)
classifier_svm.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma=0.01, kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [20]:
from sklearn.metrics import confusion_matrix

In [21]:
# Jetzt die Predictions auf meinen Testdaten, die ich aus dem Traingsset habe 
y_pred_svm = classifier_svm.predict(X_test)

In [22]:
from sklearn.metrics import accuracy_score
ac = accuracy_score(y_test, y_pred_svm)
ac

0.9127686472819216

In [23]:
# 2. Versuch mit einem Entscheidungsbaum
from sklearn.tree import DecisionTreeClassifier
classifier_tree = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
classifier_tree.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best')

In [24]:
y_pred_tree = classifier_tree.predict(X_test)

In [25]:
ac = accuracy_score(y_test, y_pred_tree)
ac

0.8609355246523388

In [26]:
# 3. Versuch mit einem Neuronalen Netz / Multi Layer Perzeptron 
# Architektur = Random :)
from sklearn.neural_network import MLPClassifier
classifier_nn = MLPClassifier(hidden_layer_sizes=(1000,), random_state=101)
classifier_nn.fit(X_train, y_train)

C:\Users\sebas\Anaconda3\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:562: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(1000,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
       random_state=101, shuffle=True, solver='adam', tol=0.0001,
       validation_fraction=0.1, verbose=False, warm_start=False)

In [27]:
predictions_nn = classifier_nn.predict(X_test)

In [28]:
print(predictions_nn)

[0 0 1 1 1 0 0 1 1 0 0 0 0 0 1 1 1 1 0 0 1 1 0 0 1 0 1 1 1 1 0 0 1 0 0 1 1
 1 1 1 0 0 0 1 0 0 0 1 0 1 1 0 0 1 0 1 1 1 1 0 0 0 1 0 0 0 0 1 1 0 0 0 1 1
 1 1 0 1 0 0 0 1 0 0 1 0 1 1 0 1 0 0 1 0 1 0 1 1 0 1 0 1 0 1 0 0 0 1 1 0 0
 1 1 1 1 0 0 1 0 0 1 0 1 1 0 0 1 0 0 1 0 0 1 0 0 0 0 0 1 0 1 1 0 1 0 1 0 0
 1 0 0 1 0 1 0 1 1 1 0 1 1 0 0 0 1 0 0 0 1 0 1 1 1 0 1 1 1 1 1 1 1 0 0 1 0
 0 0 0 1 1 0 0 0 0 1 0 1 0 1 0 1 1 0 0 0 1 0 0 0 0 0 0 1 0 0 1 0 0 1 1 0 1
 1 1 1 0 1 1 1 1 1 1 0 0 1 1 0 1 1 0 1 1 1 1 0 1 1 0 0 1 1 0 1 1 1 1 0 1 0
 1 0 1 1 0 0 0 1 1 0 0 0 1 1 1 0 1 1 1 0 1 1 1 0 0 0 0 1 0 1 1 1 0 0 1 1 0
 1 0 0 0 0 1 0 0 0 0 0 1 1 1 1 1 0 1 1 1 0 0 0 0 1 1 0 1 0 1 1 1 1 0 1 1 1
 1 1 0 1 1 1 1 1 0 0 1 1 0 1 1 0 0 0 1 1 1 1 1 0 1 1 1 0 1 1 1 1 1 0 0 1 1
 1 0 0 0 1 1 0 1 1 0 1 0 1 1 1 1 0 0 1 1 1 1 1 0 1 0 1 0 0 0 1 0 0 1 1 1 0
 1 1 0 0 1 0 1 0 1 1 1 0 1 0 0 1 1 0 0 0 1 1 0 1 0 0 0 0 0 1 1 0 0 0 1 1 0
 1 1 1 0 0 1 1 0 1 0 1 1 0 1 0 1 1 1 1 0 0 0 0 1 1 1 0 1 1 1 0 1 1 0 0 0 1
 1 1 0 0 1 0 0 0 1 0 1 0 1 0 1 0 0 0 1 0 1 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0
 1 1 0 0 0 1 1 1 0 0 1 0 0 0 0 1 0 1 0 0 0 1 0 0 0 0 0 0 1 0 1 0 0 0 1 1 0
 1 1 1 0 1 1 0 1 1 0 1 1 1 0 0 0 1 0 0 1 0 1 1 1 1 0 0 0 1 0 0 1 1 0 0 0 1
 1 1 0 1 0 1 0 1 0 1 1 1 1 0 0 1 1 0 0 0 0 1 1 0 0 1 0 1 1 1 0 1 1 1 0 1 0
 0 0 1 0 0 0 1 0 0 1 1 0 0 1 0 0 0 1 0 0 0 0 1 0 0 0 0 0 1 0 0 1 1 1 1 0 1
 0 1 0 1 1 1 0 0 0 0 0 0 1 0 0 0 0 1 0 1 0 1 0 1 1 1 1 0 0 0 1 0 0 1 0 1 0
 0 0 1 0 1 0 0 1 0 0 0 1 1 1 0 0 0 1 1 0 1 1 1 1 1 0 1 1 1 1 1 0 0 0 1 1 1
 1 0 0 1 1 1 0 0 1 1 0 0 1 0 0 1 0 1 0 1 1 0 0 0 0 1 0 0 1 0 1 1 0 1 1 0 1
 0 1 0 0 0 0 1 0 1 0 1 0 0 1]

In [29]:
from sklearn.metrics import accuracy_score
ac = accuracy_score(y_test, predictions_nn)
ac

0.9026548672566371

# Predictions aufs Testset, hierfür bräuchte ich noch die IMDB Ratings
 ## Was hier unten steht wurde auf das Testset ohne IMDB Rating rating, dementsprechend auch ohne trainiert

In [30]:
data_submit = pd.read_csv("./Data/test_final.csv")

In [31]:
data_submit.head()

,imdbId,budget,genres,homepage,keywords,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,tagline,title,tmdbId,imdb_Rating,imdb_user_count,tmdb_Rating
0,118615,45000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 27, ""...",NaN,"[{""id"": 5968, ""name"": ""amazon""}, {""id"": 10787,...",en,Anaconda,"A ""National Geographic"" film crew is taken hos...",27.684779,"[{""name"": ""Columbia Pictures Corporation"", ""id...",...,11.04.1997,136885767,89,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",When You Can't Breathe You Can't Scream.,Anaconda,9360,4.7,85012,49
1,1990314,2500000,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",http://robotandfrank-film.com/,"[{""id"": 6054, ""name"": ""friendship""}, {""id"": 14...",en,Robot & Frank,"A delightful dramatic comedy, a buddy picture,...",23.419061,"[{""name"": ""Samuel Goldwyn Films"", ""id"": 9118},...",...,16.08.2012,3325038,85,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Friendship doesn't have an off switch,Robot & Frank,84329,7.1,58290,69
2,49513,4500000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 18, ""...",NaN,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,Moby Dick,"In 1841, young Ishmael signs up for service ab...",5.224593,"[{""name"": ""Warner Bros."", ""id"": 6194}, {""name""...",...,27.06.1956,10400000,116,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",From the immortal adventure classic...of whali...,Moby Dick,10339,7.4,15256,69
3,112851,7000000,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 28, ""n...",NaN,"[{""id"": 75, ""name"": ""gunslinger""}, {""id"": 139,...",en,Desperado,A gunslinger is embroiled in a war with a loca...,25.511217,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,25.08.1995,25405445,104,"[{""iso_639_1"": ""en"", ""name"": ""English""}]","When the smoke clears, it just means he's relo...",Desperado,8068,7.2,155831,68
4,1077368,150000000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 14, ""nam...",http://darkshadowsmovie.warnerbros.com,"[{""id"": 616, ""name"": ""witch""}, {""id"": 2883, ""n...",en,Dark Shadows,Vampire Barnabas Collins is inadvertently free...,50.306728,"[{""name"": ""Village Roadshow Pictures"", ""id"": 7...",...,08.05.2012,245527149,113,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Every Family Has Its Demons,Dark Shadows,62213,6.2,224307,58

In [33]:
# Daten skalieren 
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
data_submit_scaled = sc.fit_transform(data_submit.loc[:,['budget','revenue','popularity','imdb_Rating']])
data_submit_scaled.shape

C:\Users\sebas\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:617: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\sebas\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

(500, 4)

In [34]:
y_submit = classifier_svm.predict(data_submit_scaled)

In [36]:
print(y_submit)

[0 1 1 1 0 1 0 0 0 0 0 1 0 0 0 1 0 0 0 1 1 1 0 1 1 1 0 0 0 0 0 1 1 0 0 1 0
 0 0 0 1 1 0 1 1 0 1 1 0 0 0 1 1 0 0 0 1 0 0 0 0 1 1 0 0 0 0 0 0 1 1 0 0 0
 0 0 1 0 1 1 0 0 1 0 0 1 1 1 1 0 0 1 1 0 1 1 1 0 1 0 1 0 1 0 1 1 1 1 0 0 1
 0 1 0 0 1 0 1 1 1 1 0 0 0 0 1 1 0 1 1 1 1 0 1 0 1 0 1 1 1 0 0 0 1 1 0 1 1
 1 0 0 1 1 1 1 1 0 0 0 1 0 0 1 1 0 0 1 1 0 1 1 1 1 0 0 1 1 0 0 1 0 1 1 0 1
 1 0 1 1 0 0 0 1 1 1 0 1 1 0 0 1 1 1 1 1 1 0 1 1 0 1 0 1 1 1 0 1 0 1 1 1 1
 1 0 1 0 1 1 1 0 1 1 0 1 0 1 1 1 1 1 1 1 0 1 1 1 0 1 0 0 1 0 1 1 0 1 0 1 1
 0 1 0 1 1 1 0 1 0 0 0 0 0 0 0 0 0 0 1 0 1 1 1 0 0 0 1 0 1 0 1 1 0 0 0 0 0
 0 0 0 1 1 0 1 0 0 1 1 1 0 1 1 1 1 0 1 1 1 0 0 0 0 1 1 0 0 1 1 1 1 0 1 0 1
 0 0 0 0 0 1 0 1 1 0 0 0 0 0 1 1 0 1 0 0 1 1 1 0 1 1 1 0 1 1 1 1 1 1 0 1 1
 1 1 1 0 0 1 1 1 1 0 0 0 1 0 0 0 0 0 1 1 0 1 1 0 1 1 0 0 1 0 1 0 1 1 1 1 1
 1 0 1 1 1 0 0 0 1 1 1 1 0 1 0 0 1 1 0 1 1 0 1 1 0 1 0 0 0 0 1 0 1 1 1 1 1
 1 0 1 0 1 0 0 1 0 0 0 1 0 0 1 1 1 1 1 0 1 1 1 1 1 0 0 1 1 0 0 1 1 1 0 0 1
 1 1 0 1 1 1 0 0 0 1 0 1 1 1 1 0 1 1 1]

In [37]:
y_submit.shape

(500,)

In [ ]:
data_scaled2 = pd.DataFrame(data_scaled)

In [39]:
y_submit = pd.DataFrame(y_submit)

# ANN in Keras

In [82]:
import keras
from keras.models import Sequential
from keras.layers import Dense

C:\Users\sebas\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [146]:
# Initialising the ANN
classifier = Sequential()

# Adding the input layer and the first hidden layer
classifier.add(Dense(output_dim = 1000, init = 'uniform', activation = 'relu', input_dim = 4))

# Adding the second hidden layer
#classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu'))

# Adding the output layer
classifier.add(Dense(output_dim = 1, activation = 'sigmoid'))

# Compiling the ANN
classifier.compile(optimizer = 'rmsprop', loss = 'binary_crossentropy', metrics = ['accuracy'])

# Fitting the ANN to the Training set
classifier.fit(X_train, y_train, batch_size = 128, verbose=1, nb_epoch = 20)

C:\Users\sebas\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=4, units=1000, kernel_initializer="uniform")`
  """
C:\Users\sebas\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1)`
  # This is added back by InteractiveShellApp.init_path()
C:\Users\sebas\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.

Epoch 1/20
1778/1778 [==============================] - 1s 463us/step - loss: 0.5286 - acc: 0.8341
Epoch 2/20
1778/1778 [==============================] - 0s 33us/step - loss: 0.3749 - acc: 0.8780
Epoch 3/20
1778/1778 [==============================] - 0s 33us/step - loss: 0.3099 - acc: 0.8864
Epoch 4/20
1778/1778 [==============================] - 0s 26us/step - loss: 0.2774 - acc: 0.8971
Epoch 5/20
1778/1778 [==============================] - 0s 29us/step - loss: 0.2625 - acc: 0.8999
Epoch 6/20
1778/1778 [==============================] - 0s 29us/step - loss: 0.2574 - acc: 0.8982
Epoch 7/20
1778/1778 [==============================] - 0s 27us/step - loss: 0.2532 - acc: 0.8976
Epoch 8/20
1778/1778 [==============================] - 0s 32us/step - loss: 0.2532 - acc: 0.9004
Epoch 9/20
1778/1778 [==============================] - 0s 32us/step - loss: 0.2508 - acc: 0.9004
Epoch 10/20
1778/1778 [==============================] - 0s 32us/step - loss: 0.2508 - acc: 0.9021
Epoch 11/20
1778/1778 [==============================] - 0s 31us/step - loss: 0.2502 - acc: 0.9010
Epoch 12/20
1778/1778 [==============================] - 0s 26us/step - loss: 0.2489 - acc: 0.9010
Epoch 13/20
1778/1778 [==============================] - 0s 26us/step - loss: 0.2490 - acc: 0.9021
Epoch 14/20
1778/1778 [==============================] - 0s 30us/step - loss: 0.2494 - acc: 0.9010
Epoch 15/20
1778/1778 [==============================] - 0s 40us/step - loss: 0.2480 - acc: 0.9010
Epoch 16/20
1778/1778 [==============================] - 0s 29us/step - loss: 0.2477 - acc: 0.9010
Epoch 17/20
1778/1778 [==============================] - 0s 27us/step - loss: 0.2477 - acc: 0.9010
Epoch 18/20
1778/1778 [==============================] - 0s 31us/step - loss: 0.2476 - acc: 0.9010
Epoch 19/20
1778/1778 [==============================] - 0s 28us/step - loss: 0.2445 - acc: 0.9033
Epoch 20/20
1778/1778 [==============================] - 0s 28us/step - loss: 0.2481 - acc: 0.9004

In [147]:
# Part 3 - Making the predictions and evaluating the model
# Predicting the Test set results
y_pred3 = classifier.predict(X_test)

In [148]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
score = accuracy_score(y_test, y_pred3.round(), normalize=False)

In [149]:
print(score)

181

In [150]:
y_pred3.shape

(198, 1)

In [151]:
score = classifier.evaluate(X_test, y_test, batch_size=128)

198/198 [==============================] - 0s 887us/step

In [152]:
print(score)

[0.188956865006023, 0.9141414057124745]